

/* grid styling */
.hex {
    transition: 0.4s;
    cursor: pointer;
    fill: transparent;
}

.hex.active {
    fill: lightgoldenrodyellow;
}

.pod-wrap {
    pointer-events: painted;
}

.playarea .hex {
    fill: lightblue;
}


/* other styling */
svg {
    width: 600px;
    flex: 1;
    pointer-events: visible;
}

.boardarea {
    background-color: #cccccc;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-weight: 700;
    font-family: sans-serif;
}

a {
    color: #ccc;
    padding: 10px;
    text-decoration: none;
    transition: color 0.4s;
}

a:hover {
    color: #333;
}

.hex.hovered {
    fill: red;
}