

/* grid styling */
.hex {
    transition: 0.4s;
    cursor: pointer;
    fill: transparent;
}

.hex.active {
    fill: lightgoldenrodyellow;
}

.pod-wrap {
    pointer-events: painted;
}

.playarea .hex {
    fill: lightblue;
    fill-opacity: 0.5;
}

.viewOptions {
    background-color: #eee;

}


/* other styling */
svg {
    width: 600px;
    flex: 1;
    pointer-events: visible;
}

.boardarea {
    background-color: #cccccc;
}

.selector {
    width: 36em;
}