

/* grid styling */
.hex {
    transition: 0.4s;
    cursor: pointer;
    fill: transparent;
}

.hex.active {
    fill: lightgoldenrodyellow;
}

.pod-wrap {
    pointer-events: painted;
}

.playarea .hex {
    fill: lightblue;
    fill-opacity: 0.5;

}

/* other styling */
svg.renderer {
    width: 800px;
    flex: 1;
    pointer-events: visible;
}

.viewOptions {
    background-color: #eee;

}


.boardarea {
    background-color: #cccccc;
}

.selector {
    width: 36em;
}

.tileeditor {
    height: 100%;
    background-color: white;
    margin: 25px 0;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: 15em auto;
    grid-template-rows: auto;

    .viewer {
        justify-content: center;
        align-content: center;
        display: grid;
    }
}