
.app-surface {
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-rows: 10% auto;
    font-size:26.6px;
    row-gap: 10px;
}

.clearButton {
    width: 5em;
}

.controls {
    display: grid;
    grid-template-columns: 24em auto auto;

    .new_monster {
        display: grid;
        grid-template-columns: 1fr 8fr;
        justify-items: stretch;
        height: 2em;

        .monster_select {
            z-index:20;
        }
    }

    .monsterLevel {
        color: white;
        font-family: "Philosopher";
        justify-self: end;
        select {
            margin: 0 5px;
            width: 1.5em;
            background-color: white;

        }
    }
}

.expand_icon {
    height: 100%;
    width: 100%;
}

.card-area {
    display: grid;
    grid-template-rows: 100%;
    justify-items: center;
}

.monster-column {
    height: 0 auto;
}

.monster-column .buttonset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.25em;
    grid-template-rows: auto;
}

.monsterIdSelector {
    display: grid;
    grid-template-rows: 4em 4em 4em 4em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 0.2em;
    grid-column-gap: 0.2em;
}

.monsters {
    display: grid;
    grid-auto-rows: 50px;
}