
.app-surface {
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: 16% auto;
    font-size:26.6px;
}

.card-area {
    display: grid;
    grid-template-rows: 100%;
}

.monster-column {
    height: 0 auto;

}

.monsters {
    display: grid;
    grid-auto-rows: 50px;
}