%pseudo-icon {
    content: "";
    width: .9em;
    height: .9em;
    display: inline-flex;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: .2em;
}

.icon-lg {
    width: 1.1em;
    height: 1.1em;
}

.shield {
    @extend %pseudo-icon;
    background-image: url(../images/shield.svg);
}

.retaliate {
    @extend %pseudo-icon;
    background-image: url(../images/retaliate.svg);
}

.flying {
    @extend %pseudo-icon;
    background-image: url(../images/fly.svg);
}

.curse {
    @extend %pseudo-icon;
    background-image: url(../images/curse.svg);
}

.wound {
    @extend %pseudo-icon;
    background-image: url(../images/wound.svg);
}

.immobilize {
    @extend %pseudo-icon;
    background-image: url(../images/immobilize.svg);
}

.disarm {
    @extend %pseudo-icon;
    background-image: url(../images/disarm.svg);
}

.poison {
    @extend %pseudo-icon;
    background-image: url(../images/poison.svg);
}

.invisible {
    @extend %pseudo-icon;
    background-image: url(../images/invisibility.svg);
}

.muddle {
    @extend %pseudo-icon;
    background-image: url(../images/muddle.svg);
}

.strengthen {
    @extend %pseudo-icon;
    background-image: url(../images/strengthen.svg);
}

.target {
    @extend %pseudo-icon;
    background-image: url(../images/target.svg);
}

.pierce {
    @extend %pseudo-icon;
    background-image: url(../images/pierce.svg);
}

.stun {
    @extend %pseudo-icon;
    background-image: url(../images/stun.svg);
}

.statusContainer {
    margin: 10px 0;
    background-color: rgb(50, 50, 50);
    border-radius: 4px;
    border: 3px solid white;
    font-family: "PirataOne";
    color: white;
    text-shadow: 1px 2px 3px black;
    position: relative;
    overflow: hidden;
    &.elite {
        .statusIconContainer {
            color: gold;
        }
        .name {
            color: gold;
        }
    }
    .dying {
        position: absolute;
        width: 20em;
        background-color: #efefef9e;
        height: 5em;
    }
    .statusDetailsContainer {
        display: grid;
        grid-template-columns: auto 4fr;
        height: 85px;

        .statusIconContainer {
            height: 100%;
            width: 85px;
            font-size: 200%;
            background-color: rgb(28, 28, 28);
            display: grid;
            justify-content: center;
            align-content: center;
        }
        .statusEffectsContainer {
            height: 100%;
            padding: 3px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            .health {
                display: grid;
                grid-template-columns: 1em auto;
                padding-left: 10px;
                padding-right: 5px;
                div:first-child {
                    margin-right: 5px;
                }
                .healthBar {
                    background-color: crimson;
                    height: 30%;
                    border-radius: 6px;
                    align-self: center;
                }
            }
        }
    }
    .statsContainer {
        border-top: 1px solid white;
        padding-left: 0.3em;
        display: grid;
        grid-template-columns: 3fr 7fr;
        grid-template-rows: auto;

        .name {
            align-self: center;
        }

        .stats {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            justify-items: center;
            align-items: center;

            span {
                &.attack::before {
                    @extend %pseudo-icon;
                    background-image: url(../images/attack.svg);
                }
                &.move::before {
                    @extend %pseudo-icon;
                    background-image: url(../images/move.svg);
                }
                &.range::before {
                    @extend %pseudo-icon;
                    background-image: url(../images/range.svg);
                }

                &.attr {
                    font-size: 75%;
                    grid-column: 1/4;
                }

                &.attr-icon {
                    display: inline-block;
                }
            }
        }
    }
}

.monsterActionPane {
    touch-action: manipulation;
    font-family: "PirataOne";
    font-size: 20pt;
    .damage {
        margin-bottom: 10px;
        .damageChange {
            text-align: center;
            color: crimson;
        }
        .btn-group {
            width: 100% !important;
        }
    }
}