
%pseudo-icon {
    content: "";
    width: .9em;
    height: .9em;
    display: inline-flex;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: .2em;
}

.statusContainer {
    margin: 10px 0;
    display: grid;
    grid-template-rows: 2fr 1fr;
    background-color: rgb(50, 50, 50);
    border-radius: 4px;
    border: 3px solid white;
    font-family: "PirataOne";
    color: white;
    text-shadow: 1px 2px 3px black;
    position:relative;
    overflow:hidden;


    &.elite {

        .statusIconContainer {
            color: gold;
        }

        .name {
            color: gold;
        }
    }

    .dying {
        position: absolute;
        width: 20em;
        background-color: #efefef9e;
        height: 5em;
    }


    .statusDetailsContainer {
        display: grid;
        grid-template-columns: auto 4fr;

        .statusIconContainer {
            height: 85px;
            width: 85px;
            font-size: 200%;
            background-color: rgb(28, 28, 28);
            display: grid;
            justify-content: center;
            align-content: center;
        }

        .statusEffectsContainer {
            padding: 3px;
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr 1fr;

            .health {
                display: grid;
                grid-template-columns: 1em auto;
                padding-left: 10px;
                padding-right: 5px;

                div:first-child {
                    margin-right: 5px;
                }

                .healthBar {
                    background-color: crimson;
                    height: 30%;
                    border-radius: 6px;
                    align-self: center;
                }
            }
            
            .effect {
                font-size: 75%;
                margin-right:6px;
            }
        }
    }

    .statsContainer {
        border-top: 1px solid white;
        padding-left: 0.3em;
        display: flex;

        .stats {
            span {
                padding-left: 1.2em;
                &.attack::before {
                    @extend %pseudo-icon;
                    background-image: url(../images/attack.svg);
                }
                &.move::before {
                    @extend %pseudo-icon;
                    background-image: url(../images/move.svg);
                }
                &.range::before {
                    @extend %pseudo-icon;
                    background-image: url(../images/range.svg);
                }
            }
        }
    }
}

.monsterActionPane {
    font-family: "PirataOne";
    font-size: 20pt;

    .damage {
        margin-bottom: 10px;
        .damageChange {
            text-align: center;
            color: crimson;
        }

        .btn-group  {
            width: 100% !important;
        }
    }


}